<app-form></app-form>

<table class="table table-striped mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Email</th>
      <th scope="col">Data di nascita</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let utente of UtentiList; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>
        {{ utente.nome || "" }}
      </td>
      <td>{{ utente.cognome || "" }}</td>
      <td>{{ utente.email || "" }}</td>
      <td>{{ utente.date || "" }}</td>
    </tr>
  </tbody>
</table>
